# Keys (Data Protection)
keys/

# IDEs
.vscode/
.idea/

# Local Dev Settings
appsettings.Development.json

# .NET
bin/
obj/
.vs/
*.user
*.suo
*.launchSettings.json
.github/

# Environment Variables (Secrets)
.env

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
app_data/

.gemini/
gha-creds-*.json
